{% extends 'index.html' %}
{% block content %}

<div class="container-fluid d-flex justify-content-center">
    {% if username %}
      <h2>Welcome, {{username}}!</h2>
    {% endif %}
</div>

<!--Input Class-->
<div class="album py-5 bg-light"> 
  <div class="container"> 
    <h1 class="display-4"> 
      <div class="d-flex justify-content-center">The Predictor</div> 
    </h1> 
    <p class="lead"> 
      <div class="d-flex justify-content-center">Choose a year and a team to go head-to-head!</div> 
    </p> 
    <hr class="my-4">
    <form action="/submit" method="POST">
      <!-- Team, Year-->
      <table class="table">
        <thead class="thead-light">
            <th><h3>Team 1</h3></th>
            <th><h3>Team 2</h3></th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <select class="form-select" aria-label="Teams available">
                <option selected>Team</option>
                <optgroup label="AL Central"></optgroup>
                  <option value="1">Chicago White Sox</option>
                  <option value="2">Cleveland Indians</option>
                  <option value="3">Detroit Tigers</option>
                  <option value="4">Kansas City Royals</option>
                  <option value="5">Minnesota Twins</option>
                <optgroup label="AL East"></optgroup>
                  <option value="6">Baltimore Orioles</option>
                  <option value="7">Boston Red Sox</option>
                  <option value="8">New York Yankees</option>
                  <option value="9">Tampa Bay Rays</option>
                  <option value="10">Toronto Blue Jays</option>
                <optgroup label="AL West"></optgroup>
                  <option value="11">Houston Astros</option>
                  <option value="12">Los Angeles Angels</option>
                  <option value="13">Oakland Athletics</option>
                  <option value="14">Seattle Mariners</option>
                  <option value="15">Texas Rangers</option>
                <optgroup label="NL Central"></optgroup>
                  <option value="16">Chicago Cubs</option>
                  <option value="17">Cincinnati Reds</option>
                  <option value="18">Milwaukee Brewers</option>
                  <option value="19">Pittsburgh Pirates</option>
                  <option value="20">St. Louis Cardinals</option>
                <optgroup label="NL East"></optgroup>
                  <option value="21">Atlanta Braves</option>
                  <option value="22">Miami Marlins</option>
                  <option value="23">New York Mets</option>
                  <option value="24">Philadelphia Phillies</option>
                  <option value="25">Washington Nationals</option>
                <optgroup label="NL West"></optgroup>
                  <option value="21">Arizona Diamondbacks</option>
                  <option value="22">Colorado Rockies</option>
                  <option value="23">Los Angeles Dodgers</option>
                  <option value="24">San Diego Padres</option>
                  <option value="25">San Francisco Giants</option>
                </select>
            </th>
            <th scope="row">
              <select class="form-select" aria-label="Teams available">
              <option selected>Team</option>
              <optgroup label="AL Central"></optgroup>
                <option value="1">Chicago White Sox</option>
                <option value="2">Cleveland Indians</option>
                <option value="3">Detroit Tigers</option>
                <option value="4">Kansas City Royals</option>
                <option value="5">Minnesota Twins</option>
              <optgroup label="AL East"></optgroup>
                <option value="6">Baltimore Orioles</option>
                <option value="7">Boston Red Sox</option>
                <option value="8">New York Yankees</option>
                <option value="9">Tampa Bay Rays</option>
                <option value="10">Toronto Blue Jays</option>
              <optgroup label="AL West"></optgroup>
                <option value="11">Houston Astros</option>
                <option value="12">Los Angeles Angels</option>
                <option value="13">Oakland Athletics</option>
                <option value="14">Seattle Mariners</option>
                <option value="15">Texas Rangers</option>
              <optgroup label="NL Central"></optgroup>
                <option value="16">Chicago Cubs</option>
                <option value="17">Cincinnati Reds</option>
                <option value="18">Milwaukee Brewers</option>
                <option value="19">Pittsburgh Pirates</option>
                <option value="20">St. Louis Cardinals</option>
              <optgroup label="NL East"></optgroup>
                <option value="21">Atlanta Braves</option>
                <option value="22">Miami Marlins</option>
                <option value="23">New York Mets</option>
                <option value="24">Philadelphia Phillies</option>
                <option value="25">Washington Nationals</option>
              <optgroup label="NL West"></optgroup>
                <option value="21">Arizona Diamondbacks</option>
                <option value="22">Colorado Rockies</option>
                <option value="23">Los Angeles Dodgers</option>
                <option value="24">San Diego Padres</option>
                <option value="25">San Francisco Giants</option>
              </select>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <select class="form-select" aria-label="Years Available">
                <optgroup label="Years"></optgroup>
                <option value="1">2015</option>
                <option value="2">2014</option>
                <option value="3">2013</option>
                <option value="4">2012</option>
                <option value="5">2011</option>
                <option value="5">2010</option>
                <option value="5">2009</option>
                <option value="5">2008</option>
                <option value="5">2007</option>
                <option value="5">2006</option>
                <option value="5">2005</option>
                <option value="5">2004</option>
                <option value="5">2003</option>
                <option value="5">2002</option>
                <option value="5">2001</option>
                <option value="5">2000</option>
              </select>
            </th>
            <th scope="row">
              <select class="form-select" aria-label="Years Available">
                <optgroup label="Years"></optgroup>
                <option value="1">2015</option>
                <option value="2">2014</option>
                <option value="3">2013</option>
                <option value="4">2012</option>
                <option value="5">2011</option>
                <option value="5">2010</option>
                <option value="5">2009</option>
                <option value="5">2008</option>
                <option value="5">2007</option>
                <option value="5">2006</option>
                <option value="5">2005</option>
                <option value="5">2004</option>
                <option value="5">2003</option>
                <option value="5">2002</option>
                <option value="5">2001</option>
                <option value="5">2000</option>
              </select>
            </th>
          </tr>
        </tbody>
      </table>
      <input class="btn btn-dark" type="submit" value="Submit">
      <input class="btn btn-dark" type="reset" value="Reset">
    </form>
  </div>
</div>

{% endblock %}
