<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="static/style.css" rel="stylesheet">
    <title>The Greatest Sports Game Predictor</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!--Navbar Image-->
        <a class="navbar-brand" id="mlb-logo" target="_blank" href="https://mlb.com">
            <img src="/static/mlb_logo.jpg" width="30" height="20">MLB
        </a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls=navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
              <a href="/staff" class="nav-link">Contributors</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if username %}
              </li>
              <li class="nav-item active">
                <a href="/logout" class="nav-link">Log Out</a>
              </li>
              <li class="nav-item active">
                <a href="delete_user/{{username}}" class="nav-link">Delete Account</a>
              </li>
            {% else %}
              <li class="nav-item active">
                <a href="/login" class="nav-link">Log In</a>
              </li>
              <li class="nav-item active">
                <a href="/create_user" class="nav-link">Create Account</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}

    {% block prediction %}
    {% endblock %}

    <!--Footer-->
    <footer class="footer text-muted bg-light">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#top">Back to top</a>
        </p>
        <p class="mb-0">New to baseball? <a target="_blank" href="https://www.mlb.com/">Visit MLB</a>.</p>
      </div>
    </footer>

    <!--Javascript and Popper plugin -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
