<!DOCTYPE html>
<html lang = "en">
<style>
    h1{text-align: center;}
    .mydiv{
        text-align: center;
    }
    
</style>
<head>
    <title>The Greatest Sports Game Predictor</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>The Predictor</h1>
<div class = "mydiv">
    <input type = "text" id = "firstTeam" placeholder = "First team" size = 20></input>
    <input type = "text" id = "secondTeam" placeholder = "Second team" size = 20></input>
    <button>Predict</button>
</div>
</body>
</html>