{% extends 'index.html' %}

{% block content %}

    {% if login_successful %}
    <div class="aleert alert-success" role="alert">
        You are logged in!
    </div>
    {% endif %}

    {% if login_unsuccessful %}
    <div class="alert alert-danger" role="alert">
        ERROR: Username or Password Not Found! Try Again or Create an Account!
    </div>
    {% endif %}

    <div class="container d-flex justify-content-center">
        <h2>Login</h2>
    </div>

    <br>
    <br>

    {% if login_default or login_unsuccessful %}
    <div class="container-fluid d-flex justify-content-center">
        <form action=/login method=POST>
            <label for="username">Username:</label><input type=text name=username><br>
            <label for="password">Password:</label><input type=password name=password><br>
            <input type=submit value="Log In">
        </form>
    </div>
    {% endif %}

{% endblock %}