{% extends 'index.html' %}

{% block content %}
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Brandon Rho</h3>
        <div class="mb-1 text-muted">Some baseball guy</div>
        <p class="card-text mb-auto">My name is Brandon Rho! I am currently a 3-2 major at Claremont McKenna and love baseball. I'm hoping to become a SWE at any company making 7 digits. Pipe dream? Nah - I got this.</p>
        <a href="https://www.gitub.com/brandonsrho57/" class="stretched-link">Github</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/static/baseball.jpeg" alt="Brandon Rho" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">David Hu</h3>
        <div class="mb-1 text-muted">Nice Canadian</div>
        <p class="card-text mb-auto">I am a computer science student at Carleton University. I love developing software and solving problems. I am interested in the machine learning and fin tech industry. My hobbies include playing soccer, hockey and video games.</p>
        <a href="https://www.gitub.com/ksong200/" class="stretched-link">Github</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/static/cutie.jpg" alt="David Hu" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Kotaro Yamamoto</h3>
        <div class="mb-1 text-muted">Samurai</div>
        <p class="card-text mb-auto">Hello, my name is Kotaro, I am a senior Applied Math major at UC Davis. I like Vim and Python a lot.</p>
        <a href="https://www.gitub.com/kotaroyama/" class="stretched-link">Github</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/static/thisdude.jpg" alt="Kotaro Yamamoto" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Rojan Maharjan</h3>
        <div class="mb-1 text-muted">Samurai</div>
        <p class="card-text mb-auto">My name is Rojan Maharjan, senior CS major at Sacramento State University. I am interested in Machine Learning and AI's.</p>
        <a href="https://www.gitub.com/Rojanmhj2055/" class="stretched-link">Github</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/static/whodis.jpg" alt="Rojan Maharjan" width="200" height="250">
      </div>
    </div>
  </div>






{% endblock %}
